body {
  background: rgb(247, 247, 247);
}

h1 {
  color: rgb(160, 112, 219);
  margin: 20px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 16px;
}

.email {
  color: rgb(160, 112, 219);
}

.gaming-image {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

.links {
  text-align: center;
  margin: 20px;
}

.links a {
  color: rgb(160, 112, 219);
  margin: 10px;
}
